<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
          fileName="${basedir}/app.log"
          encoding="utf-8"
          layout="${longdate}&#x9;${stacktrace}&#10;${level:uppercase=true}: ${message}${exception:format=ToString}" />
    <target name="logwin" xsi:type="MethodCall"
        methodName="AddLog"
        className="ExampleAppLog">
      <parameter layout="${level}: {0}" />
      <parameter layout="${message}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="logwin" />
  </rules>
</nlog>