<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File" 
          fileName="${basedir}/logs/app.log"
          archiveOldFileOnStartup="true"
          maxArchiveFiles="5"
          archiveNumbering="Rolling"
          encoding="utf-8"
          layout="${longdate}|${level:uppercase=true}: ${message}${exception:format=ToString}" />
    <target xsi:type="RichTextBox"
            name="textbox"
            layout="${date:format=HH\:mm\:ss}&#x9;${level}&#x9;${stacktrace}&#10;${message}${onexception:&#10;${exception:format=ToString}}"
            autoScroll="true"
            maxLines="1000"
            controlName="SideMenu_Log_Textbox"
            formName="App_ParentFrame"
            allowAccessoryFormCreation="false"
            useDefaultRowColoringRules="true"
            messageRetention="OnlyMissed">
      <!-- repeated row-colorings-->
      <row-coloring backgroundColor="Black"
                    condition="level == LogLevel.Info"
                   fontColor="White"
                   style="0"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="textbox" />
  </rules>
</nlog>